/*categories section*/

html[dir=ltr] {
  .owl-carousel.owl-rtl {
    direction: ltr !important;
  }

  .offers {
    .content {
      inset-inline-start: 1%;
      transform: translate(1%, -35%);
    }
  }
}



.categories {

  .container {
    position: relative;
  }

  .owl-carousel .owl-nav button {
    background-color: transparent;
    color: $main;
    font-size: 1.5rem;

    &:hover {
      background-color: transparent;
      color: $main;
    }
  }

  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    inset-inline-end: -2.5rem;

  }

  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    inset-inline-start: -2.5rem;
  }

  .owl-carousel .owl-stage {
    margin: 3rem 0 0 0;
  }



  .card {


    .link:hover+.img {
      background-color: $main;
    }

    &:hover {
      transform: translateY(-10px);
    }

    .card-name {
      text-align: center;
      margin-top: 1rem;
    }

    .card-img {
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        // height: 200px;
        border-radius: 50%;
        background-color: $white;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;
        margin: auto;
        transition: .3s;

        &:hover {
          background-color: $main;
        }

        img {
          width: 100%;
          // height: 250px;
          position: absolute;
          bottom: -4rem;
          -o-object-fit: cover;
          object-fit: cover;
          margin-bottom: 4rem;
        }
      }
    }
  }
}


/*discover offers*/


/*one*/
.discover-offers.one {
  .content {
    background: url("/images/disscover-one.png");
    @extend %background_fit;
    border-radius: 25px;

    .img {
      margin-top: -8rem;
      -webkit-margin-end: -5rem;
      margin-inline-end: -5rem;
    }

    .text {
      text-align: center;
      padding: 2rem;
      color: $black;

      span {
        font-size: 1.1rem;
        font-weight: 500;
      }

      p {
        font-size: 1.25rem;
        font-weight: 900;
        margin: 0.85rem 0 1.5rem -3.5rem;
      }

      .btn {
        @include btn_color($color: $main , $bg: $white, )
      }
    }
  }
}







.discover-offers.two .content p {
  font-size: 1.76rem;
  font-weight: 500;
  text-wrap: balance;
}

/*two*/
.discover-offers.two {
  position: relative;

  .content {
    background: url("/images/discover-two.png");
    @extend %background_fit;
    border-radius: 25px;

    .overlay {
      background: transparent radial-gradient(closest-side at 50% 50%, #9AD1A146 0%, #86876E46 100%) 0% 0% no-repeat padding-box;
      padding: 6rem 3rem;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      text-align: center;
    }

    img {
      -o-object-fit: cover;
      object-fit: cover;
    }

    p {
      font-size: 2rem;
      width: 70%;
    }

    .btn {
      @include btn_color();
    }
  }


}





/* offcanvas */

.offcanvas.cart {
  width: 30% !important;
  padding-top: 1.5rem;

  .form-control {
    width: inherit;
  }

  .cart-name {
    padding-bottom: 1.5rem;
  }

  .close-cart {
    position: absolute;
    right: -5%;
    top: 3%;
    transform: translate(5%, 3%);
    @include circle($size: 45px, $font: 16px, $color: $main, $bg: $white, $bx_sh: 1)
  }

  .card {
    @include card();

    .controls {
      @extend %flex;
      border: 1px solid $border !important;
      border-radius: $brad !important;
      padding: 0 .5rem;
      width: 65%;

      .form-control {
        border: none;
        padding: .5rem !important;
        text-align: center;
      }

      .btn {
        padding: .5rem;
        @include circle($size: 30px, $font: 14px, $color: $main, $bg: $white, $bx_sh: 0)
      }
    }
  }

  .delete {
    background-color: transparent;
    color: red;
  }

  .offcanvas-footer {
    padding: 2rem 2rem 1rem 2rem;

    .discount {
      padding: 1rem 0;
      border-top: 1px solid $muted;
    }

    .title {
      color: $muted;


      i {
        img {
          @include size($size: 40px);
        }
      }
    }

    .group {
      @extend %flex;
      background-color: $white;

      .form-control {
        border-bottom-right-radius: $brad;
        border-top-right-radius: $brad;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      .btn {
        @include btn_color($color: $white, $bg: $secondary);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $brad;
        border-top-left-radius: $brad;
        padding: .5rem 2rem;
      }
    }

    .total {
      color: $black;
      font-weight: bold;
      padding: 1rem 0;
      border-top: 1px solid $muted;
    }

    .pay {
      padding: 1rem 0;
      border-top: 1px solid $muted;

      .btn {
        @include btn_color($color: $white, $bg: $main);
      }

      .to-cart {
        color: $muted;
        font-size: 1.1rem;
      }
    }
  }
}

html[dir=ltr] {
  .offcanvas.cart {

    .cart-name {
      padding-bottom: 1.5rem;
    }

    .offcanvas-footer {

      .group {

        .form-control {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: $brad;
          border-top-left-radius: $brad;
        }

        .btn {
          border-bottom-right-radius: $brad;
          border-top-right-radius: $brad;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          padding: .5rem 2rem;
        }
      }
    }
  }
}





.offers {
  .offers-main {
    position: relative;

    .img {
      border-radius: $brad;
      overflow: hidden;
    }

    .content {
      position: absolute;
      width: 50%;
      top: 35%;
      inset-inline-end: 1%;
      transform: translate(-1%, -35%);
      color: $black;

      span {
        font-size: 1.1rem;
        font-weight: 500;
      }

      h4 {
        font-weight: bold;
        margin: .5rem 0;
      }

      p {}
    }
  }

  .offers-body {
    -webkit-margin-start: 8rem;
    margin-inline-start: 8rem;

    // .card {
    //   position: relative;
    //   @include card($dir: column, $gap: .5rem, $border: 0, $rad: 13px, $width: 100%, $height: 270px, $img_brdr: 1);

    //   .card-img {
    //   position: relative;

    //   .controls {
    //     @extend %flex;
    //     justify-content: center;
    //     flex-direction: column;
    //     gap: .5rem;
    //     position: absolute;
    //     top: 50%;
    //     inset-inline-start: 1%;
    //     transform: translate(-1%, -50%);
    //     background-color: red;
    //     z-index: 4;
    //   }

    //   }
    // }
  }
}







@media($s_med) {



  .offers {
    .offers-body {
      -webkit-margin-start: 0rem;
      margin-inline-start: 0rem;
    }
  }



  .discover-offers.two {
    .content {
      padding: 2rem 1rem;

      p {
        font-size: 1.5rem;
        width: 100%;
      }
    }
  }

  .discover-offers.one {
    .content {
      background: url("/images/disscover-one.png");
      @extend %background_fit;
      border-radius: 25px;

      .img {
        margin-top: -3rem;
      }

      .text {
        padding: 2rem 1rem;

        span {
          font-size: 1rem;
        }

        p {
          font-size: 1.2rem;
        }

      }
    }
  }
}

@media($s_mob) {
  .categories {
    .owl-carousel .owl-nav button.owl-next {
      position: unset;

    }

    .owl-carousel .owl-nav button.owl-prev {
      position: unset;
    }
  }
}